{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="form-signin w-100 m-auto text-center">
    {% if user.is_authenticated %}
        <h2 class="mb-3">Bienvenue, {{ user.username }} !</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Se déconnecter</button>
        </form>
    {% else %}
        <p class="mb-3 alert alert-primary">Vous n'êtes pas connecté.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a>
        <a href="{% url 'signup' %}" class="btn btn-primary">S'inscrire</a>
    {% endif %}
</div>
{% endblock %}
