{% extends 'base.html' %}

{% block content %}
<h2>Créer un Ticket</h2>
<br>

<form class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
        <label for="inputAddress" class="form-label">Titre :</label>
        <input type="text" class="form-control" id="inputAddress" id="id_book_title" name="book_title" placeholder="Titre du livre" required>
    </div>
    <div class="input-group">
        <span for="id_message" class="input-group-text">Description</span>
        <textarea class="form-control" id="id_description" name="description" aria-label="Description" required></textarea>
    </div>
    <div class="col-12">
        <label for="formFile" for="id_image" class="form-label">Image :</label>
        <input class="form-control" type="file" id="formFile" id="id_image" name="image">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-info">Envoyer</button>
    </div>
</form>
<br>
<a href="{% url 'tickets:ticket_list' %}" class="link-info" >Retour à la liste des tickets</a>

{% endblock %}
