{% extends 'base.html' %}

{% block content %}
<h2>Liste des Tickets</h2>

{% for ticket in tickets %}
    <div>
        <h3>{{ ticket.book_title }}</h3>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="Image du ticket" width="200">
        {% endif %}
        <p>Posté par {{ ticket.user.username }} le {{ ticket.created_at }}</p>
    </div>
{% empty %}
    <p>Aucun ticket disponible.</p>
{% endfor %}

<a href="{% url 'tickets:create_ticket' %}">Créer un nouveau Ticket</a>
{% endblock %}
