{% extends 'base.html' %}
{% block content %}
<h2>Liste des Tickets</h2>
<br>
<a href="{% url 'billet:create_ticket' %}" class="btn btn-info">Créer un Ticket</a>

    {% for ticket in tickets %}
    <div class="col-6">
        <h4>{{ ticket.book_title }}</h4>
        <br>
        <p>{{ ticket.description }}</p><br>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="Image du ticket" width="200"><br>
        {% endif %}
        <br>
        <p>Posté par {{ ticket.user.username }} le {{ ticket.created_at }}</p>
        <a href="{% url 'billet:delete_ticket' ticket.id %}" class="btn btn-danger">Supprimer</a>
    </div>
{% empty %}
    <p>Aucun ticket disponible.</p>
{% endfor %}

<br><br>
{% endblock %}
